NEXT_PUBLIC_URL="http://localhost:3000"
NEYNAR_API_KEY="..."

# DO NOT USE IN PRODUCTION
NEXT_PUBLIC_APP_ENV="development" # development or production
NEXT_PUBLIC_IS_TEST_MODE="false" # same here

# PostHog
NEXT_PUBLIC_POSTHOG_KEY="phc_..."
NEXT_PUBLIC_POSTHOG_HOST="/ingest"
NEXT_PUBLIC_POSTHOG_DISABLED="true"

# Auth, generate yours with `openssl rand -base64 32`
JWT_SECRET=""

# Qstash
QSTASH_URL="https://qstash.upstash.io"
QSTASH_TOKEN="..."
QSTASH_CURRENT_SIGNING_KEY="sig_<sig1...>"
QSTASH_NEXT_SIGNING_KEY="sig_<sig2...>"

# Supabase
SUPABASE_SERVICE_KEY="..."
SUPABASE_URL="https://<url>.supabase.co"
DATABASE_URL="postgresql://postgres.<...>@<...>.pooler.supabase.com:6543/postgres?pgbouncer=true"
DIRECT_URL="postgresql://postgres.<...>@<...>.pooler.supabase.com:5432/postgres"

## Mint Collectible
OPENAI_API_KEY="sk-..."
# Midjourney API Key (piapi.ai)
MIDJOURNEY_API_KEY="..."
# Pinata
PINATA_JWT_SECRET="..."
NEXT_PUBLIC_GATEWAY_URL="<...>.mypinata.cloud"
# Backend Signer
SIGNER_PRIVATE_KEY="..."

# Daimo Pay Api Key, generate yours from https://pay.daimo.com/dashboard
NEXT_PUBLIC_DAIMO_PAY_ID="pay-..."
# Daimo Pay Wallet Connect Project ID, get it from https://cloud.reown.com/
NEXT_PUBLIC_WALLET_CONNECT_PROJECT_ID="..."
# Reown Domain Verification Code, generate yours at https://cloud.reown.com/ Verify Domain > Generate domain verification code
NEXT_PUBLIC_REOWN_DOMAIN_VERIFICATION_CODE="..."

# dynamic farcaster.json, get yours from https://warpcast.com/~/developers/new
# LOCAL domain: localhost:3000
NEXT_PUBLIC_FARCASTER_HEADER="..."
NEXT_PUBLIC_FARCASTER_PAYLOAD="..."
NEXT_PUBLIC_FARCASTER_SIGNATURE="..."

# run load testing on artillery.io 
ARTILLERY_CLOUD_API_KEY="..."

# Farville Service
FARVILLE_SERVICE_URL="https://example.com"
FARVILLE_SERVICE_API_KEY="..."
NEXT_PUBLIC_SOCKET_URL="https://example.com"

# SigNoz logs
SIGNOZ_TRACE_URL="https://ingest.<region>.signoz.cloud:443/v1/traces"
SIGNOZ_INGESTION_KEY="..."
NEXT_OTEL_VERBOSE="1"